<!DOCTYPE>
<html lang="en">
    <head>
        <title>about</title>
        <link REL="stylesheet" HREF="../public/css/mystyles.css">
        <nav>
            <ul><a href="main.ejs">Main</a></ul>
            <ul><a href="register.ejs">Register</a></ul>  
            <ul><a href="about.ejs">About</a></ul>
            <ul><a href="helpPage.ejs">Help Page</a></ul>    
        </nav>
    </head>
    <body>
        <h2>This is a project for SE371 Web Engineering</h2>
        <p>It creats a frontend for an application that manages appintment for a hospital through registering appointments</p>
        <footer>
            <p>Done by: Hussain Alsari, Feras Alswalim, Mazn Alasmari, Abdulwahab Alharthy </p>
            <p>2024 &copyOmega</p>
        </footer>
    </body>
</html>