<!DOCTYPE html>
<html>
<head>
  <title><%= user.name %>'s Profile</title>
</head>
<body>
  <h1><%= user.name %></h1>
  <p>Email: <%= user.email %></p>
  <p>Description: <%= user.description %></p>
  <a href="/">Back to home</a>
</body>
</html>
